#screen{
    box-sizing: border-box;
    width: 375px;
    height: 667px;
    margin:auto;
    background-color: white;
}
body{
    background-color: lightblue;
    font-family: 'Montserrat';
}
#title{
    text-align: center;
    font-style: normal;
    font-weight: 900;
    font-size: 20px;
    line-height: 24px;
    padding-top: 48px;

}
#subtext{
    color: #616161;
    padding-top: 10px;
    margin: auto;
    width: 290px;
    height: 50px;
    left: 32px;
    top: 137px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
}
img{ 
    max-width:80%;
    max-height:80%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#name{
    text-align: center;
    font-style: normal;
    font-weight: 1000;
    font-size: 18px;
    padding-top: 10px; 
}
#bio{
    text-align: center;
    color: #616161;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
    margin-left: 25px;
    margin-right: 25px;
    line-height: 1.4;
}
.button1{
    padding: 13px 25px;
    font-size: 18px;
    font-weight: bold;
    background-color: #C0C0F2;
    border-radius: 10px;
    margin-top: 15px;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    display: block;
    border: 0px;
}